#game {
  max-width: 900px;
  margin: 3.5rem auto 0 auto;
  min-height: calc(100vh - (3.5rem + 2rem));
  font-size: 1rem;
  padding: 30px;
}
#game-status {
  margin: 20px 0;
}
#race-visualization {
  min-height: 100px;
  width: 100%;
  background: rgba(255, 255, 0, 0.1);
  margin-bottom: 20px;
}
#speed-indicators {
  background: rgba(255, 0, 0, 0.2);
  float: right;
  min-height: 100px;
}
#codebox {
  background: white;
  padding: 20px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
}
#codebox span {
  color: black;
}
.typingbox {
  padding: 5px 20px;
  background: transparent;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  font-size: 1.2rem;
}
.typingbox:focus {
  outline: 0;
}
pre {
  color: white;
}


