#game {
  max-width: 900px;
  margin: 3.5rem auto 0 auto;
  min-height: calc(100vh - (3.5rem + 2rem));
  font-size: 1rem;
  padding: 30px;
}
#timer {
  font-size: 2rem;
  float: right;
  padding-top: 8px;
}
#getReady {
  font-size: 1rem;
  margin-right: 8px;
}
/* #timer::before {
  content: "Time: ";
}
#timer::after {
  content: " s";
} */
#game-status {
  margin: 20px 0;
  font-size: 1.2rem;
}
#race-visualization {  /* table's container */
  background: #373a4a;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 10px 20px 20px;
}
.player-row {  /* the row */
  display: flex;
  padding: 0 5px;
}
.player-row:first-child {
  margin-top: 10px;
}
.player-row:last-child {
  margin-bottom: 20px;
}
.player-row td {
  padding: 6px 0;
}
.vis-player-lane {  /* 1st column */
  flex: 86;
  padding-top: 9px !important;
  border-bottom: 3px dashed #888;
  text-align: left;
  position: relative;
}
.vis-player-box {
  display: flex;
  max-width: 160px;
  position: relative;
  left: 0;
}
.vis-player-name {
  flex: 6;
  font-size: 0.95rem;
  padding-right: 12px;
  line-height: 1.2rem;
  text-align: right;
}
.vis-my-name {
  font-size: 1rem;
}
.vis-my-car {

}
.vis-my-name, .vis-my-car {
  font-weight: 700;
  color: #c3e88d ;
}
.vis-player-car {
  flex: 4;
  font-size: 1.3rem;
  text-align: right;
  padding-top: 3px;
}
.vis-playerstats {  /* 2nd column */
  flex: 14;
  text-align: right;
}
/* .vis-playerstats .player-pos {
}
.vis-playerstats .player-lpm {
} */
#codebox {
  background: #1c1f2b;
  padding: 20px;
  border: 3px solid #222;
  font-size: 1.25rem;
}
#codebox p {
  display: inline;
  color: #fff;
}
.typingbox {
  padding: 5px 20px;
  background: #292d3e;
  color: #a6accd;
  border: 3px solid #111;
  border-top: 0;
  border-radius: 0;
  font-size: 1.1rem;
  width: 100%;
}
.typingbox:focus {
  outline: 0;
}
#game pre {
  color: white;
  margin-bottom: 0;
}
#race-results {
  font-size: 1rem;
  text-align: center;
  padding: 5px 0 100px;
  background: linear-gradient(
    180deg,
  rgba(28,31,43,0.6) 0%, 
  rgba(28,31,43,0) 100%
  );
  animation: fade-in ease 2.5s;
}
  @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
#result-heading {
  margin: 32px auto 15px;
  font-size: 1.3rem;
  text-decoration: underline;
  xborder-bottom: 1px solid #ccc;
  width: 260px;
}
#race-results .flex {
  width: 100%;
}
.res-att {
  flex: 52;
  text-align: right;
  margin: 0 5px 0 0;
}
.res-data {
  flex: 48;
  text-align: left;
  margin: 0 0 0 5px;
}
.units {
  font-size: 1rem;
}


.cursor {
  border-left: 1px solid #ffcc00;
  animation: cursor 1s linear infinite;
}
@keyframes cursor {
  50% { border-color: transparent }
}

.cursorEnd {
  border-right: 1px solid #ffcc00;
  animation: cursor 1s linear infinite;
}