#lobby {
  max-width: 900px;
  margin: 3.5rem auto 0 auto;
  min-height: calc(100vh - (3.5rem + 2rem));
  font-size: 1.6rem;
  padding: 30px;
}
#top-section {
  display: flex;
  min-height: 120px;
  margin-bottom: 40px;
  width: 90%;
}
#lobby-name {
  font-size: 50px;
  text-transform: uppercase;
  flex: 7;
  overflow: hidden;
  padding: 10px 0
}
.editable-name, .fixed-name {
  background: #7c9fc250;
  color: white;
  min-width: 60px;
  width: 270px;
  max-width: 80%;
  text-transform: uppercase;
  border: 0;
  border-bottom: 3px solid #ccc;
  margin-right: 1rem;
  padding: 0 5px 0 10px;
  float: left;
}
.fixed-name {
  background: transparent;
  border: 0;
}
.editable-name:focus {
  outline: none;
}
#lobby-code-section{
  flex: 3;
  padding-left: 20px;
  color: white;
}
#code-heading {
  padding-left: 22px;
  margin-bottom: 4px;
}
#code {
  background: black;
  font-weight: 900;
  padding: 10px 25px;
  text-transform: uppercase;
  float: right;
}
.copy-btn {
  padding: 8px 16px;
  background: #5490CC;
  color: white;
  border: 2px solid #000;
  float: right;
}
.copy-btn:hover {
  background: #3d6892;
  border-color: #bbb;
}
#lobby table {
  width: 100%;
}
#players {
  min-height: 100px;
  margin: 0 auto 40px auto;
  min-width: 400px;
}
#players tr {
  display: flex;
}
#players td {
  background: #1F364D;
  padding: 10px 15px;
  border: 2px solid black;
}
#players tr:nth-child(1) td {
  font-size: 1.2rem;
  border: 0;
  padding: 0 15px;
  margin-bottom: 12px;
  background: transparent;
  color: #eee;
}
#players tr:nth-child(1) td:nth-child(1),
#players tr:nth-child(1) td:nth-child(2) {
  padding-left: 11px;

}
#players tr:nth-child(1) {
  border: 0;
}
#players tr:nth-child(2) td:nth-child(1),
#players tr:nth-child(2) td:nth-child(2) {
  border-top: 3px solid black;
}

#players button {
  border-width: 0px;
}
.player-name {
  flex: 60;
  text-align: left;
}
.is-ready {
  flex: 25;
  padding: 0 !important;
}
.is-ready button {
  width: 100%;
  height: 100%;
  background: transparent;
}
.is-ready button:hover {
  background: #284563;
  color: #496580;
}
.is-ready button:focus {
  background: #1F364D; 
  color: #6eff7a;
}
.ready {
  color: #6eff7a;
}
.not-ready {
  color: #3d556b;
}
div.ready, div.not-ready {
  padding: 10px 0;
  /* should really do this via line-height */
}
.flashReady {
  animation: flasher 3.2s linear infinite;
}
@keyframes flasher {
  0%  { background: #1F364D; 
        color: #3d556b; }
  50% { background: #3e6b99cb;
        color: #79a6ce; }
}
.inviz {
  flex: 15;
  border: 0 !important;
  border-left: 4px solid transparent !important;
  background: transparent !important;
  padding: 0 !important;
}
.remove-player {
  flex: 15;
  padding: 0 !important;
}
.remove-player button {
  background: darkred;
  font-weight: 900;
  width: 100%;
  height: 100%;
  color: white;
  border-right: 1px solid black !important;
}
.remove-player button:hover {
  background: rgb(163, 23, 23);
}
#settings {
  background: rgba(0,0,0,0.12);
  min-height: 100px;
  margin: 0 auto 40px auto;
  padding: 20px 0 5px;
  max-width: 70%;
  min-width: 580px;
  font-size: 1.3rem;
}
.setting {
  display: flex;
  margin-bottom: 12px;
}
.labl {
  flex: 55;
  text-align: right;
}
.seconds {
  font-size: 1.1rem;
}
.inpt {
  flex: 45;
}
.checkbox {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
  box-shadow: none;
}
.timefield {
  width: 88px;
  position: relative;
  padding-left: 7px;
  background: #3E6C99;
  color: white;
}
.timefield:hover {
  background: #4b7cad;
}
#lobby-settings-fixed {
  text-align: center;
  font-size: 1.3rem;
}
#lobby-settings-fixed p {
  margin-bottom: 10px;
  color: #cfcfcf;
}
.time-digits {
  color: #fff;
  text-decoration: underline;  
}
#lobby-settings-fixed .public {
  color: #6eff7a;
}
#lobby-settings-fixed .private {
  color: rgb(255, 65, 65);
}
.start-btn {
  display: block;
  margin: 0 auto;
  padding: 4px 30px;
  border-radius: 25px;
  background: #5490CC;
  color: white;
}
.start-btn:hover {
  background: #6daae7;
}