#login {
  margin: 3.5rem auto 0 auto;
  min-height: calc(100vh - (3.5rem + 2rem));
  font-size: 1.5rem;
  padding: 30px;
}
#login h1 {
  text-align: center;
  margin: 30px 0;
}
#login form {
  max-width: 400px;
  margin: 0 auto 30px;
}
#login form label {
  padding-left: 5px;
}
#login form input {
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 15px;
  border-radius: 50px;
  background: #3E6C99;
  color: white;
}
#login form input:hover {
  background: #4b7cad;
}
#login input[type="submit"] {
  display: block;
  background: #5490CC;
  color: white;
  padding: 5px 0;
  margin: 30px auto 0 auto;
  max-width: 250px;
}
#login input[type="submit"]:hover {
  background: #6daae7;
}
#regbox {
  max-width: 250px;
  margin: 0 auto;
}
#regbox button {
  background-color: #333;
  color: white;
  width: 100%;
  max-width: 250px;
  border-radius: 50px;
  margin: 0 auto;
}
#regbox button:hover  {
  background: #555;
}
#forgotpw {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#forgotpw button {
  color: #ccc;
  font-size: 1.1rem !important;
}
#forgotpw button:hover {
  text-decoration: underline;
  color: white;
}