#profile{
  min-height: calc(100vh - (5.5rem));
  margin: 3.5rem auto 0 auto;
  text-align: center;
  font-size: 1.6rem;
  background: rgba(0,0,0,0.3);
}
#tophalf-profile {
  background: #45495c;
  padding-top: 40px;
}
#profile-heading {
  padding: 20px 0 40px;
}


/* --- table ------------- */
#past-games { /* THE table itself */
  font-size: 1.2rem;
  margin: 0 auto 40px auto;
  min-width: 540px;
}
.table-forehead td {
  flex: 1;
  background: rgba(0,0,0,0.14);
  border-radius: 25px 25px 0 0;
  color: #89c5fd;
  border: 0 !important;
  padding: 20px 0 !important;
  font-style: italic;
}
#past-games td {
  padding: 5px 3px;
  background: #29547e;
  border: 2px solid black;
}
#past-games tr {
  display: flex;
}
.position {
  flex: 18;
}
.speed {
  flex: 25;
  display: flex;
}
.time {
  flex: 25;
  display: flex;
}
.date {
  flex: 33;
}
#past-games .dnf {
  flex: 1;
}
.speed-number, .time-number {text-align: right}
.speed-suffix, .time-suffix {text-align: left}
.speed-number, .speed-suffix {
  flex: 1;
}
.time-number {
  flex: 6;
} 
.time-suffix {
  flex: 4;
}
.typingSpeed {
  font-size: 0.95rem;
}
#past-games tr:nth-child(1) td {
  background: rgba(0, 0, 0, 0.27) !important;
  border: 0;
}
#past-games tr:nth-child(2) td{
  font-style: italic;
  color: #89c5fd;
  background:rgba(0, 0, 0, 0.6) !important;
}
#past-games tr:nth-child(2) td:nth-child(2), 
#past-games tr:nth-child(2) td:nth-child(3) {
  display: table-cell;
} 
#past-games tr:last-child td {
  padding-bottom: 5px;
}
#past-games tr:last-child td:first-child {
  border-radius: 0 0 0 25px;
}
#past-games tr:last-child td:last-child {
  border-radius: 0 0 25px 0;
}

#table-chin {
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 130px;
  font-size: 1.3rem;
}
#table-chin::after {
  content: " LPM";
  font-size: 1.2rem;
}
/* --- /table ------------ */



#extended-footer {
  min-height: 30px;
}
#user-menu {
  background: rgba(0,0,0,0.2);
}
#user-menu button {
  display: inline-block;
  background: transparent;
  color: #ddd;
  padding: 10px 20px;
  border: 0;
  font-size: 0.9rem;
}
#user-menu button:hover {
  text-decoration: underline;
}
#user-menu button:focus {
  outline: none;
}
.del-acct-btn {
  color: rgb(255, 136, 136) !important;
}

#extended-footer input:hover {
  background: #4b7cad !important;
}

#change-username-box, 
#change-password-box,
#delete-account-box {
  padding: 70px 0;
  font-size: 1.2rem;
}
.flex-container {
  display: flex;
  margin-bottom: 25px;
  text-align: right;
}
#change-username-box {
  max-width: 500px;
  margin: 0 auto;
}
#change-username-box label {
  flex: 35;
  position: relative;
  top: 2px;
}
#change-username-box input {
  border-radius: 50px;
}
#change-username-box input[type="text"] {
  flex: 65;
  background: #3E6C99;
  color: white;
  padding: 2px 14px;
}
#change-username-box input[type="password"] {
  flex: 65;
  background: #3E6C99;
  color: white;
  padding: 2px 14px;
}
#change-username-box input[type="submit"] {
  background: #3E6C99;
  color: white;
  padding: 2px 25px;
  float: right;
}
#close-pannel-container {
  padding: 40px;
}
#close-pannel-container .text-btn {
  font-size: 0.9rem;
  color: #888;
  text-decoration: underline;
}
#close-pannel-container .text-btn:hover {
  text-decoration: none;
}


#change-password-box {
  max-width: 500px;
  margin: 0 auto;
}
#change-password-box form label {
  flex: 41;
}
#change-password-box form input {
  flex: 59;
  padding: 0 14px;
  background: #3E6C99;
  color: white;
  border-radius: 50px;
}
#change-password-box form input[type="submit"] {
  padding: 3px 30px;
  float: right;
  margin-top: 10px;
  border-radius: 50px;
}


#delete-account-box {
  font-size: 1.2rem;
  color: rgb(255, 136, 136);
}
.delete-acct-button {
  background: rgb(255, 136, 136);
  color: black;
  font-weight: 900;
  padding: 16px 32px;
  border-radius: 50px;
  margin: 40px 0 60px;
}
.delete-acct-button:hover {
  background: rgb(212, 102, 102);
}
#delete-account-box .changed-my-mind  {
  background: transparent;
  border: 0;
  color: #FFF;
  font-size: 1rem;
}
#delete-account-box .changed-my-mind:hover {
  text-decoration: underline;
}






@media only screen and (max-width: 768px) {


#profile {
  max-height: 100%;
  max-width: 100%;
  margin: 1.0rem auto 0 auto;
  padding-top: 15px;
  text-align: center;
  font-size: 1.0rem;
}
.typingSpeed {
  font-size: 1.2rem;
}

#table-container {
  margin: 0 auto 80px auto;
  font-size: 0.9rem;
}
  
  /* --- table ------------- */
  

#table-container {
  margin: 0 auto 100px auto;
  font-size: 0.9rem;
}
#past-games { /* THE table itself */
  min-width: 100%;
  margin-bottom: 30px;
}
#table-forehead {
  width: 100%;
  background: rgba(170, 161, 161, 0.14);
  border-radius: 25px 25px 0 0;
  color: rgb(137, 197, 253);
  border: 0 !important;
  padding: 10px 0 !important;
  font-style: italic;
}
#change-username-box, 
#change-password-box,
#delete-account-box {
  margin: 50px auto 0;
  font-size: 1.0rem;
}
#change-password-box {
  max-width: 500px;
}
#change-username-box input[type="text"] {
  background: #3E6C99;
  color: white;
  padding: 2px 12px;
  margin-right: 14px;
  border-radius: 50px;
}
#change-username-box input[type="password"] {
  background: #3E6C99;
  color: white;
  padding: 2px 12px;
  margin-right: 14px;
  border-radius: 50px;
}
#change-username-box input[type="submit"] {
  background: #3E6C99;
  color: white;
  padding: 2px 25px;
  position: relative;
  top: 3px;
  border-radius: 50px;
}
}