#register {
  margin: 3.5rem auto 0 auto;
  min-height: calc(100vh - (3.5rem + 2rem));
  font-size: 1.5rem;
  padding: 30px;
}
#register h1 {
  text-align: center;
  margin: 25px 0 40px;
}
#register form {
  max-width: 400px;
  margin: 0 auto;
}
#register label {
  padding-left: 5px;
}
#register input {
  width: 100%;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 15px;
  background: #3E6C99;
  color: white;
}
#register input:hover {
  background: #4b7cad;
}
#register form input:focus {
  outline: none;
}
#register input[type="submit"] {
  display: block;
  margin: 40px auto;
  max-width: 250px;
  background: #5490CC;
  color: white;
}
#register input[type="submit"]:hover {
  background: #6daae7;
}



@media (max-width: 500px) {
  #register h1 {
    margin: 5px 0 30px;
  }
}



@media (max-width: 360px) {
  #register {
    padding: 20px;
  }
  #register h1 {
    margin: 5px 0 22px;
    font-size: 2rem;
  }
  #register input[type="submit"] {
    margin: 25px auto;
  }
}